# dependencies
node_modules

# output
dist
.output

# generated tool dirs
.tanstack

# environment variable files
.env*
!.env.example

# caches
.cache
.fallow
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
